nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
.logo{
  font-size: 2.5rem;
  font-weight: 600;
  color:#7227D5;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  color: black
}


#navbar li a:hover,
#navbar li a.active{
  color:#7227D5;
}

#navbar li a:hover::after,
#navbar li a.active::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #7227D5;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile{
  display: none;
}

#topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
}

@media screen and (max-width: 769px){
  #navbar{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0px;
      right: -300px;
      width: 220px;
      height: 100vh;
      background: #fff;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.08);
      padding: 100px 0 0 10px;
      transition: 0.3s ease-in-out;
  }
  #navbar.active{
      right: 0px;
  }
  #navbar li{
      margin-bottom: 35px;
  }
  #mobile{
      display: block;
      position: relative;
  }
  #mobile i{
      font-size: 24px;
      cursor: pointer;
  }
}

@media screen and (max-width: 400px){
  #navbar{
    width: 180px;
  }
}